body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.basebares{
    border-radius: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 75vw;
    margin: auto;
    padding-bottom: 60px;
}

.tabelabares{
    /* make a grid centered with 1 column */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* center the grid */
    justify-items: center;
    align-items: center;
    /* make the grid responsive */
    width: 100%;
    height: 100%;
    /* center vertically */
    justify-content: center;
}

.buttonbar{
    position: relative;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 0px !important;
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-size: 10px;
}

.buttonbar:hover {
    background: #fda35a;
}

.titulo{
    font-size: 1.5rem;
    line-height: 0.8rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 20px;
}