body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.team-container {
    margin-top: 100px;
    padding-bottom: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin: 0 30px;
    padding: 20px 0;
}

#total-points {
    position: absolute;
    top: -80px;
    transform: unset;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-left: 40px;
    background-color: #5E69CD;
    color: white;
    border-radius: 20px;
}
#total-points img {
    filter: invert(1);
}

.points {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    font-size: 20px;
}

.team-name {
    font-weight: bold;
    font-size: 35px;
}

#equipa {
    position: relative;
}

.section {
    padding: 20px 0;
    text-align: center;
}

.section-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: #5E69CD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 60vw;
    position: relative;
}

.section-title img {
    filter: invert();
}

.memberwrapper {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.wrapper img {
    width: 55px;
    object-fit: cover;
}

.members-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.membernames {
    font-size: 30px;
    line-height: 0.8rem;
    width: 155px;
    font-size: 30px;
    line-height: 0.8rem;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 10px 0;
    text-align: left;
}
.memberinputs {
    align-items: center;
    display: flex;
    column-gap: inherit;
}

.dropdown {
    font-size: 30px;
    border: 3px solid #787878;
}

.memberpoints {
    font-size: 30px;
    line-height: 0.8rem;
}

.button {
    position: relative;
    top: 0vh;
    width: 20vw;
    height: 5vh;
    background: #5E69CD;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px
}

.egg {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.egglost {
    font-size: 20px;
    color: silver;
}

.section-title input[type="checkbox"] {
    scale: 3;
    position: absolute;
    right: 30px;
}

.section-title input[type="checkbox"]:checked::after {
    border: 1px solid white;
}

.checkbox-puked {
    scale: 3;
}

select {
    border-radius: 20px;
    padding: 6px;
    background-color: white;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background-color: #5c5c5c;
    color: white;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    border: 1px solid #bfbfbf;
}

@media screen and (max-width: 570px) {
    .team-container * {
        font-size: 20px !important;
    }

    .memberwrapper {
        flex-direction: column;
    }

    .memberinputs{
        flex-direction: row;
        column-gap: 20px;
        margin-top: 10px;
    }
    .membernames{
        width: 60vw;
        text-align: center;
        font-size: 30px !important;
        overflow-y: hidden;
    }

    .section-title {
        margin-bottom: 0;
    }

    .members {
        padding: 10px 0;
    }
}

@media screen and (max-width: 400px) {
    .team-container {
        margin-top: 80px;
    }

    
    #total-points {
        top: -65px;
    }

    #total-points img {
        width: 35px;
    }

    .points-text {
        display: none;
    }
    
}