body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.home-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 80px;
}

.home-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.separator {
    height: 1px;
    width: 80%;
    background-color: silver;
    margin: auto;
}

@media screen and (max-width: 500px) {


    .home-container * {
        font-size: 13px !important;
    }

    .separator {
        width: 100%;
    }
    
    .equipa {
        font-size: 20px !important;
    }
}