:root {
    --primary-color: #333335;
}  

/* page smooth scroll */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.Home {
    padding: 20px 0;
}

.home-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 80px;
}

.home-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.separator {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.home-title {
    color: white;
    font-weight: bolder;
    font-size: 40px !important;
}

@media screen and (min-width: 1024px) {
    .home-container {
        padding-left: var(--navbar-width);
    }
}

@media screen and (max-width: 500px) {
    .home-container * {
        font-size: 13px !important;
    }
    
    .equipa {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 400px) {
    .home-title {
        font-size: 33px !important;
    }
}