.formulario{
  position: relative;
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

.username{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;

  border: none;
  border-bottom: 2px solid #5E69CD;
background: #E5E5E5;
}

.login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}

.password{
    position: absolute;
    left: 50%;
    top: 180%;
    transform: translate(-50%, -50%);
    width: 60vw;
  
    border: none;
    border-bottom: 2px solid #5E69CD;
  background: #E5E5E5;
  }

  .login-button{
    position: absolute;
    left: 50%;
    top: 350%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 5vh;
    background: #5E69CD;
    border-radius: 10px;
    color: white;
  }