.login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.login > h1 {
  font-size: 45px;
}

.login .formulario {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login .formulario input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  padding: 0 10px;
}

.login .formulario button {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  background-color: #5E69CD;
  color: white;
  font-weight: bold;
  font-size: 20px;
}