.Navbar{
    z-index: 550;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100%;
    border-top: 4px solid white;
}

.Navbar > a:not(.logo) {
    padding: 0 15px;
}

.Navbar h1 {
    font-size: 18px;
    line-height: 2.25rem;
    color: #FFFFFF;
}

.Navbar a:not(.logo) img {
    width: 20px;
    filter: invert(1);
}

.Navbar a {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo{
    position: absolute;
    right: 20px;
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
}

.logo img {
    width: 50px;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .Navbar {
        left: 0;
        width: 130px;
        height: 100%;
        flex-direction: column;
        border-top: unset;
        border-right: 2px solid white;
        bottom: unset;
        right: unset;
        top: 0;
    }

    .logo {
        position: relative;
        right: unset;
    }

    .Navbar > a:not(.logo) {
        padding: 0 15px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    .Navbar {
        height: 65px;
    }

    .Navbar > a:not(.logo) h1 {
        display: none;
    }
    
    .logo {
        position: relative;
        right: unset;
    }

    .Navbar a {
        width: 100%;
        display: unset;
    }

    .logo img {
        width: 40px;
    }

    .Navbar > a:not(.logo) img {
        width: 25px;
        margin: auto;
    }
}