.Navbar{
    background: #5E69CD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    position: absolute;
    right: 0;
    width: 430px;
    border-bottom-left-radius: 30px;
}

.Navbar h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 25px;
    line-height: 2.25rem;
    color: #FFFFFF;
}

.logo{
    width: 90px;
    position: absolute;
    left: -110px;
    top: 0px;
}

a {
    text-decoration: none;
}