.Navbar{
    z-index: 10;
    background: #5E69CD;
    display: flex;
    align-items: center;
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100%;
    border-top: 4px solid white;
}

.Navbar > a:not(.logo) {
    padding: 0 20px;
}

.Navbar h1 {
    font-size: 18px;
    line-height: 2.25rem;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    right: 20px;
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
}

.logo img {
    width: 50px;
}

a {
    text-decoration: none;
}