.basemapa{
    position: absolute;
    width: 94vw;
    height: 70vh;
    /* center base in the screen */
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    /* center elements in basetabela */
    display: flex;
    background: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    overflow: scroll;
}

.textp-cabecalho{
    /* center  */
    position: absolute;
    width: 94vw;
    height: 5vh;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: medium;
}