.basemapa{
    width: 94vw;
    height: 80vh;
    display: flex;
    background: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 10%);
    border-radius: 40px;
    overflow: hidden;
    margin: auto;
}

.textp-cabecalho{
    text-align: center;
    width: 100%;
    height: 5vh;
    font-size: medium;
    background-color: #5E69CD;
    color: white;
    height: fit-content;
    padding: 10px 0;
    line-height: 2.25rem;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
}