.QRCode {
    padding: 20px;
}

.QRCode-container {
    padding-bottom: 100px;
}

.QRCode-container section div {
    border: 10px solid white;
    border-radius: 40px;
}

video {
    border-radius: 20px;
    background-color: var(--primary-color);
    border-radius: 40px;
}

#info {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 80vw;
    margin: auto;
    margin-bottom: 20px;
}