@keyframes fall {
    0% { top: -10%; }
    100% { top: 100%; }
}

.snowflake {
    color: rgb(152, 152, 152);
    position: fixed;
    top: -10%;
    z-index: 9999;
    animation: fall linear;
    animation-iteration-count: infinite;
}
