.Navbar{
    position: absolute;
    width: 84vw;
    height: 6vh;
    /* right: -3vh; */
    left: 22vw;
    top: 8vh;
    background: #5E69CD;
    border-radius:115.5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1 2vw;
}
.home-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #FFFFFF;
}

.Bares-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #FFFFFF;
}
.Premios-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: 100px;
    left: -20vw;
    top: -20px;
}
