.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 10%);
    border-radius: 40px;
    margin: 0px 30px;
    padding-bottom: 50px;
}

.table>div:first-child {
    font-size: 25px;
    padding: 10px;
}

/* Default table styles for this demo */
table {
    position: relative;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    top: 1vh;
}
table tr {
    background: #F7F7F7;
    border-bottom: 0.1vh solid #a9a9a9;
}
table th, table td {
    padding: 7px 0px;
    /* reduce the width of th and td */
    width: 0%;

}
table th{
    color: #9B9999;
}